body {
  text-align: center;
  background-image: url(../images/mollyfindlay.jpg);
  background-size: cover;
  color: #191970;
  font-family: 'Bowlby One SC', cursive;
}

h1 { font-size: 88px 
}

h2	{ font-size: 50px
}

hr  {
  width: 200px;
 }
  
 p {
 	font-family: helvetica;
	font-size: 44px;
	color: #FF7F50

}